body{
    font-family: 'Century Gothic', calibri, serif;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
    overflow-x:hidden

}

nav{
  width: 100%;
  background-color: #fff;
} 
nav ul{
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
} 
nav li {
  list-style-type: none;
  
}
nav a{
  display: inline-block;
  text-decoration: none;
  padding: 20px 30px;
  color: #000;
  text-transform: capitalize;
  font-size: 15px;
  transition: all 0.3s ease;
}
.table{
 
 margin: 0 auto;
}
.index-html {
  background: url(image/mare-la-maddalena.jpg)  no-repeat;
  background-size: cover;
  height: 250%;
  
}
.index-html .image {
  text-align: center;
  padding: 10%;
}
.index-html .image img {
  text-align: center;
  padding: 2%;
  
}
.index-html h3 {
  font-size: 30px;
  background-color: grey;
  padding: 20px;
  font-weight: 20px;
  width: fit-content;
  margin: auto;
}
.index-html p {
  color: white;
}

.programme {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background-color: #fff;
}
.image h5{

  text-align: center;
  position: relative;
  left: 5%;
}
.programme .image{
  position: relative;
  display: inline-block;
  top: 29%;
  left: 5%;
}

.programme .circle {
 
  
  width: 110px;
  height: 110px;
  border: 2px solid green;
  border-radius: 200px;
  display: flex;
  align-items: center;
  justify-content: center;

 
}
.campus h1{
  text-align: center;
}
.campus {
 
  font-weight: bold;
  padding: 20px;
  background-color: #eee;
  
}
.campus ul{
  padding: 5%;
  display: flex;
  justify-content: center;
  gap: 10%;
}  
.campus li {
  list-style-type: none;
}
.partie1{
  display: flex;
}
.partie2{
  display: flex;

}
.java{
  width: 25%;
  height: 300px;
  background-color: burlywood;
  position: relative;
  bottom: 900px;
}
.java img{
  align-items: center;
  justify-content: center;
  position: relative;
  top: 70px;
  left: 90px;
}
.inkscape{
  width: 25%;
  height: 300px;
  background-color: orange;
  position: relative;
  left: 314px;
  bottom: 1200px;
}
.inkscape img{
  align-items: center;
  justify-content: center;
  position: relative;
  top: 90px;
  left: 95px;
}
.Ae{
  width: 26%;
  height: 300px;
  background-color: yellow;
  margin-left: 628px;
  position: relative;
  bottom: 1500px;
}
.Ae img{
  align-items: center;
  justify-content: center;
  position: relative;
  top: 100px;
  left: 110px;
}
.python{
  width: 26%;
  height: 300px;
  background-color: greenyellow;
  position: relative;
  left: 950px;
  bottom: 1800px;

}
.python img{
  align-items: center;
  justify-content: center;
  position: relative;
  top: 90px;
  left: 90px;
} 
.admission {
  font-weight: bold;
  padding: 20px;
  background-color: #eee;
}

.ensemble{
  display: flex;
  gap: 400px;
}
h3{
  margin-left: 250px;
 }
h6{
 margin-left: 350px;
}
.admission h5{
  position: relative;
  top: 39px;
  
}
.suite .barre{
  margin-bottom: 10%;
} 
 .barre{
  background-color: greenyellow;
  width: 80%;
  border: 2px solid white;
  border-radius: 10px;
  height: 10px;
 }  
.admission h2{
  position: relative;
  text-align: center;
} 
.admission p{
  color: #000;
  font-size: 14px;
  margin-left: 15px ;
  font-family: Arial;
  margin-top: 35px;
  font-weight: bold;
  text-align: center;
}
.evenements{
  
  background-color: aquamarine;
  text-align: center;
  align-items: center;
 
  
}
.imageavar{ 
display: flex;
justify-content: center;
gap: 10px;
}
/* .avatar1{
 
  margin-right: 923px;
  margin-top: 80px;
}
.nom{
  background-color: #fff;
  width: 250px;
  height: 50px;
  position: relative;
  left: 63px;
  bottom: 20px;
  text-align: center;
}

.avatar2{
  position: relative;
  bottom: 370px;
  right: 150px;
  
}
.nom1{
  background-color: #fff;
  width: 250px;
  height: 50px;
  position: relative;
  left: 525px;
  bottom: 20px;
  text-align: center;
}
.avatar3{
  position: relative;
  bottom: 740px;
  left: 140px;
}
.nom2{
  background-color: #fff;
  width: 250px;
  height: 50px;
  position: relative;
  left: 525px;
  bottom: 20px;
  text-align: center;
}
.avatar4{
  position: relative;
  bottom: 1112px;
  left: 430px;
}
.nom3{
  background-color: #fff;
  width: 250px;
  height: 50px;
  position: relative;
  left: 525px;
  bottom: 20px;
  text-align: center;
} */
.bakelipro{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
 
}
.text p{
  text-align: center;
  font-size: 15px;
  margin: 100px;
  font-family: Arial, Helvetica, sans-serif; 
}


.footer  {
  background-color: wheat;
  padding: 20px;
}
.para {
  display: inline-block;
  margin-left: 10%;
  gap: 10px;

}
/* .blog {
  font-weight: bold;
  padding: 20px;
  background-color: #eee;
  width: 100%;
  height: 500px;
}
.blog h2{
  position: relative;
  text-align: center;
  font-size: 30px;
}
.blog h1{
  position: relative;
  text-align: center;
  top: 30px;
 
}
.blog ul{
  margin: 10px;
  padding: 10px;
}
.blog  li {
  list-style-type: none;
  align-items: center;
  justify-content: center;
  display:inline-block;
  text-decoration: none;
  padding: 5px 10px;
  color: #000;
  font-size: 15px;
  margin-left: 10%; 
}
.blog2 ul{
  margin: 10px;
  padding: 10px;
}
.blog2 li {
  list-style-type: none;
  align-items: center;
  justify-content: center;
  display:inline-block;
  text-decoration: none;
  padding: 5px 10px;
  color: #000;
  font-size: 15px;
  margin-left: 11%; 
}
.blog3 ul{
  margin: 10px;
  padding: 10px;
}
.blog3 li {
  list-style-type: none;
  align-items: center;
  justify-content: center;
  display:inline-block;
  text-decoration: none;
  padding: 5px 10px;
  color: #000;
  font-size: 15px;
  margin-left: 10%; 
} */
  /* .menu-hom:hover, .home{
    border-top: 5px solid #4C8;
    background-color: RGBa(64, 290, 130, 0.15);
}
.menu-prog:hover, .Programmes{
  border-top: 5px solid #f1dc4f;
  background-color: RGBa(241, 211, 79, 0.15);
}
.menu-cam:hover, .Campus{
  border-top: 5px  solid #0070BB;
  background-color: RGBa(000, 112, 192, 0.15);
}
.menu-adm:hover, .Admission{
  border-top: 5px solid #e44d26;
  background-color: RGBa(228, 77, 38, 0.15);
}
.menu-even:hover, .Evenement{
  border-top: 5px solid #f1dc4f;
  background-color: RGBa(241, 211, 79, 0.15);
}
.menu-blo:hover, .Blog{
    border-top: 5px  solid #0070BB;
    background-color: RGBa(000, 112, 192, 0.15); */
  /* } */
nav li:hover a{
  padding: 15px 30px 20px 30px;
}
section{
  width: 100%;
  min-height: 300px;
  padding-bottom: 10px;
  margin-bottom: 10px;
} 
.sec{
  margin: 0px 10%;
}
.left{
  float: left;
  width: 30%;
}
.right{
  float: left;
  width: 70%;
}
.cleft, .cright, .sousleft, .sousright{
  width: 50%;
  float: left;
}
.sec::after, .exp::after, .reco::after{
  content: "";
  display: table;
  clear: both;
}
@media only screen and (max-width: 600px) {
  .icons > p{
      font-size: 10px;
  }

}
@media only screen and (max-width: 600px) {
  .programme {
    display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   gap: 60px;
    
    background-color: #fff;
  }
  .programme .image{
    position: relative;
    display: inline-block;
    top: 25%;
    left: 1%;
  }
  .programme .image h5{
 
    text-align: center;
    position: relative;
    top: 5%;
    left: 10%;
 
   
  }
  .campus h1{
    text-align: center;
  }
  .campus ul{
    padding: 5%;
    display: flex;
    justify-content: center;
    gap: 5%;
    font-size: 80%;
  }  
  .partie1{
    display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
 

  }
  .partie2{
    display: flex;
    justify-content: center;
   align-items: center;
   flex-direction: column;
 
  }
  .imageavar{ 
    padding: 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    }
    .ensemble{
      display: flex;
      gap: 50px;
      flex-direction: column;
    }
    .admission {
      font-weight: bold;
      padding: 20px;
      background-color: #eee;
    }
  
     h3{
      margin-left: 400px;
     }
    h6{
     margin-left: 200px;
    }
    .admission h5{
      position: relative;
      top: 39px;
      
    } 
    .suite .barre{
      margin-bottom: 10%;
    } 
     .barre{
      background-color: greenyellow;
      width: 60%;
      border: 2px solid white;
      border-radius: 10px;
      height: 10px;
     }  
    .admission h2{
      position: relative;
      text-align: center;
    } 
    .admission p{
      color: #000;
      font-size: 14px;
      margin-left: 5px ;
      font-family: Arial;
      margin-top: 35px;
      font-weight: bold;
      text-align: center;
    }
 
  
  nav{
    width: 100%;
    background-color: #fff;
  } 
  nav ul{
    margin: 0px;
    padding: 0px;
    display: flex;
    
  } 
  header{
    height: 50px;
  }
  h1{
    font-size: 28px;
    margin: 20px 0px 0px 0px; 
}
nav li a{
  font-size: 10px;
  padding: 12px;
 } nav li:hover a{
  padding: 5px 10px 10px 10px;
} 
}
